<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ThunderMart</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<div th:include="administrador/template_admin.html::header"></div>

<!-- Page Content -->
<div class="container">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><br>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/administrador}">Home</a></li>
        <li class="breadcrumb-item active">Actualizar Producto</li>
    </ol>

    <div class="card text-bg-light col-lg-7  p-3 order-lg-1">
        <h5 class="card-header">Actualizar Producto</h5>
        <div class="card-body">
            <form class="form-horizontal" th:action="@{/productos/update}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${producto.id}">

                <div class="mb-3">
                    <h6 class="form-label">Nombre</h6>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                           placeholder="Ingrese el nombre del producto" required autocomplete="off"
                           th:value="${producto.nombre}">
                </div>

                <div class="mb-3">
                    <h6 class="form-label">Descripción</h6>
                    <textarea type="text" class="form-control" id="descripcion" name="descripcion"
                              placeholder="Ingrese la descripcion del producto" required
                              autocomplete="off" th:text="${producto.descripcion}"> </textarea>
                </div>

                <div class=" row">
                    <div class="col">
                        <div class="mb-3">
                            <h6 class="form-label">Cantidad</h6>
                            <input type="number" class="form-control" id="cantidad"
                                   name="cantidad" placeholder="Ingrese la cantidad del producto" required
                                   autocomplete="off" th:value="${producto.cantidad}">
                        </div>

                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <h6 class="form-label">Precio</h6>
                            <input type="number" class="form-control" step="any" id="precio" name="precio"
                                   placeholder="Ingrese el precio del producto" required autocomplete="off"
                                   th:value="${producto.precio}">
                        </div>
                    </div>
                </div>

                    <div class="mb-3">
                        <h6 class="form-label">Imagen</h6>
                        <input class="form-control" type="file" id="img" name="img">
                </div>

                <button class="btn btn-primary w-50 py-2" type="submit">Guardar</button>

            </form>
        </div>
    </div>

</div>
<!-- /.container -->
<br>
<!-- Footer -->
<div th:include="administrador/template_admin.html::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
